.form input {
  display: block;
  margin: 0 0 15px 0;
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
}

.form {
  color: hsl(232, 47%, 50%);
  margin-top: 7em;
}

.button {
  padding: 10px 30px;
  background: hsl(232, 47%, 50%);
  color: #fff;
  border: none;

  transition: all 300ms ease;
}

.button:hover {
  background-color: hsl(230, 57%, 45%);

  cursor: pointer;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 5px 5px hsl(230, 57%, 45%);
}
